body{
  background-color: wheat;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

header{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px 0;

  h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  margin: 50px auto;

  h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
}

.content{
  background-color: indianred;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h1{
    color: aquamarine;
  }

  h4{
    color: #666;
  }

  table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;

    th, td{
      padding: 10px;
      border: 1px solid #ccc;

      th{
        background-color: #f0f0f0;
        color: #333;
      }
    }
  }

  a{
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover{
      background-color: darkslateblue;
    }
  }

  input{
    padding: 10px;
    margin: 5px;
    border: solid 1px;
    border-radius: 5px;
  }

  #btn_add{
    background-color: darkgreen;
    color: #fff;
    cursor: pointer;
    &:hover{
      background-color: darkgreen;
    }
  }


  .input-field{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 1.5rem;
    box-sizing: border-box;

    &:focus {
      border-color: #007bff;
      outline: 0;
    }
  }

  .btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.btn-login{
      background-color: #07bfff;
      color: #fff;

      &:hover{
        background-color: #0056b3;
      }
    }
    &.btn-register{
      background-color: #28a745;
      color: #fff;

      &:hover{
        background-color: #218838;
      }
    }

    &.btn-logout{
      background-color: #07bfff;
      color: #fff;

      &:hover{
        background-color: #0056b3;
      }
    }
  }
}